//- includes body_plan.jade
div#wrapper.container
    div#tab_holder
        div
            block Airplane
        div
            Block Food
        div
            Block Poi
        div
            Block Food
        div
            Block Airplane