//- includes body_plan.jade
#wrapper.container
    // 0 - airplane, 1 - hotel, 2 - food, 3 - poi
    mixin tile(x)
        case x
            when 0
                div.y.tile-airplane
                    div.tile_icon-airplane
                    div.tile_content-airplane
                        div.top
                            p Flight ID:
                            p#flightId
                            p Airline:
                            p#airline
                            p Flight #:
                            p#fltno
                        div.middle
                            p Time of Departure:
                            p#depart
                        div.bottom
                            p Arival @ Destination:
                            p#arrival
            when 101
                div.y.tile-airplane
                    div.tile_icon-airplane
                    div.tile_content-airplane
                        div.top
                            p Flight ID:
                            p#flightId1
                            p Airline:
                            p#airline1
                            p Flight #:
                            p#fltno1
                        div.middle
                            p Time of Departure:
                            p#depart1
                        div.bottom
                            p Arival @ Destination:
                            p#arrival1
                        
            when 1
                div.y.tile-hotel
                    div.tile_content-hotel
                        div.top
                            p Name:
                            p#name
                            p Rating:
                            p#overallRating
                        div.middle
                            p Address:
                            p#addressLine1
                        div.bottom
                            p City:
                            p#cityName
                            p ,
                            p#stateCode
                    div.tile_icon-hotel
            when 2
                div.y.tile-food
                    div.tile_icon-food
                    div.tile_content-food
                        div.top
                            p Name:
                            p#fname
                        div.middle
                            p Address:
                            p#faddress
                        div.bottom
            when 21
                div.y.tile-food
                    div.tile_icon-food
                    div.tile_content-food
                        div.top
                            p Name:
                            p#fname1
                        div.middle
                            p Address:
                            p#faddress1
                        div.bottom
            when 22
                div.y.tile-food
                    div.tile_icon-food
                    div.tile_content-food
                        div.top
                            p Name:
                            p#fname2
                        div.middle
                            p Address:
                            p#faddress2
                        div.bottom
            
            when 3
                div.y.tile-poi
                    div.tile_content-poi
                        div.top
                            p Name:
                            p#pname
                        div.middle
                            p Address:
                            p#paddress
                        div.bottom
                    div.tile_icon-poi
            when 31
                div.y.tile-poi
                    div.tile_content-poi
                        div.top
                            p Name:
                            p#pname
                        div.middle
                            p Address:
                            p#paddress
                        div.bottom
                    div.tile_icon-poi
            default
                div.y.tile-hotel
                    div.tile_content-hotel
                        div.top
                            p Name:
                            p#name
                            p Rating:
                            p#overallRating
                        div.middle
                            p Address:
                            p#addressLine
                        div.bottom
                            p City:
                            p#cityName
                            p ,
                            p#stateCode
                    div.tile_icon-hotel
    div#header Your Trip!
    div#tab_holder
        +tile(0)
        +tile(1)
        +tile(2)
        +tile(3)
        +tile(11)
        +tile(21)
        +tile(31)
        +tile(22)
        +tile(12)
        +tile(101)
    a(herf="")
        div#footer
            p#price