//- includes/body.jade
#wrapper.container
    div#content
        p Let's go
        p#sub You need a break!
        br
        form.input-group.input-group-lg.hidden(name="form", onsubmit="return numOfDaysForm()")
            input.form-control(name="input", type="text", placeholder="To Where?", aria-describedby="sizing-addon")
            span.input-group-btn
                a(herf="http://www.google.com")
                    button.btn.btn-default(type="button")
                        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        br
        form.input-group.input-group-lg(name="form1", onsubmit="")
            input.form-control(name="input", type="text", placeholder="How long? (Days)", aria-describedby="sizing-addon")
            span.input-group-btn
                button#trigger.btn.btn-default(type="button")
                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")