//- includes/body.jade
#wrapper.container
    div#content
        p Let's go!
        p You need a break!
        br
        div.input-group
            input.form-control(type="text", placeholder="# of Days", aria-describedby="basic-addon")