//- includes body_plan.jade
#wrapper.container
    div#tab_holder
        block Airplane
        block Hotel
        block Food
        Block Poi
        Block Food
        Block Poi
        Block Food
        Block Airplane