//- includes/body.jade
mixin list
    li
        span
ul(class="active cb-slideshow")
    +list
    +list
    +list
    +list
    +list
    +list
#wrapper.container
    div#content
        h1 Let's go!
        h4 You need a break!
        br
        div.input-group
            input.form-control(type="text", placeholder="# of Days", aria-describedby="basic-addon")