//- includes body_plan.jade
#wrapper.container
    div#tab_holder
    div
        block Airplane
    div
        block Hotel
        block Food
        Block Poi
        Block Food
        Block Poi
        Block Food
        Block Airplane