//- includes body_plan.jade
#wrapper.container.background
    div#tab_holder
        div
            block Airplane
        div
            block Hotel
        div
            block Food
        div
            Block Poi
        div
            Block Food
        div
            Block Poi
        div
            Block Food
        div
            Block Airplane