//- includes/body.jade
#wrapper.container
    div#content
        p Let's go!
        p You need a break!
        br
        div.input-group.input-group-lg
            input.form-control(type="text", placeholder="# of Days", aria-describedby="sizing-addon")
            span.input-group-btn
                button.btn.btn-default(type="button")
                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")