//- includes/body.jade
#wrapper.container
    &nbsp;
    div#content(class='')
        h1 Let's go!
        h4 You need a break!
        br
        div.input-group
            input.form-control(type="text", placeholder="# of Days", aria-describedby="basic-addon")