doctype html
html
  head
    title='Let's Go!'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    include ./includes/body.jade
    include ./includes/foot.jade
