doctype html
html
  head
    title Let's Go!
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Muli')
    link(rel='stylesheet', href='/stylesheets/style_plan.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    include ./includes/body_plan.jade
    include ./includes/foot.jade
