extends ./body_plan.jade

block Airplane
    div.tile-airplane
        div.tile_icon-airplane
        div.tile_content-airplane
        
block Hotel
    div.tile-hotel
        div.tile_content-hotel
        div.tile_icon-hotel
        
block Food
    div.tile-food
        div.tile_icon-food
        div.tile_content-food
        
block Poi
    div.tile-poi
        div.tile_content-poi
        div.tile_icon-poi