extends ../plan.jade

append Airplane
    div.tile-airplane
        div.tile_icon-airplane
        div.tile_content-airplane
        
append Hotel
    div.tile-hotel
        div.tile_content-hotel
        div.tile_icon-hotel
        
append Food
    div.tile-food
        div.tile_icon-food
        div.tile_content-food
        
append Poi
    div.tile-poi
        div.tile_content-poi
        div.tile_icon-poi