body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper{
    width:100%;
    height:100%;
    padding:10px;
    background-image: url("../images/beach.jpg") center bottom no-repeat;
}

#content{
    padding-top:calc(30%);
}

#content h1{
    text-align:center;
    margin:0 auto;
}

.input-group{
    margin:0 auto;
}
@media (min-width:768px){

}