body, html{height:100%;}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}

#wrapper{
    background: url(../images/lake.jpg) no-repeat center bottom fixed;
    background-size: cover;
    width:100%;
    padding:10px;
}

#header{
    background:#75E5D4;
    text-align:center;
    Font-size:80px;
    padding:15px;
    border-radius:10px;
    margin:15px;
}

#tab_holder{
    font-family: 'Muli', sans-serif;
    margin: 0 auto;
    width: 768px;
    /*text-align:center;*/
    vertical-align:middle;
    font-weight:bold;
    color: black;
    background: rgb(255,255,255);
    border-radius:10px;
    padding:25px 25px;
    margin-top:50px;
    margin-bottom:50px;
    height:3050px;
}
#tab_holder div{
    font-size:20px;
    text-align:left;
}

.tile-airplane, .tile-hotel, .tile-food, .tile-poi,
.tile{
    width:100%;
    height:300px;
    clear:both;
}

.tile_icon-airplane, .tile_icon-hotel, .tile_icon-food, .tile_icon-poi,
.tile_icon{
    width:150px;
    min-height:150px;
    background: rgb(255,255,255);
    padding:15px;
    float left;
}

.tile_content-airplane, .tile_content-hotel, .tile_content-food, .tile_content-poi,
.tile_content{
    width:568px; /*calculates width based on total-icon size*/
    height:100%;
    float left;
}

.top{
    width:100%;
    height:33%;
}
.middle{
    width:100%;
    height:33%;
}
.bottom{
    width:100%;
    height:33%;
}

div p{
    float:left;
    margin-right:5px;
}
div p:nth-of-type(1){
    float:left;
    margin-right:5px;
}
div p:nth-of-type(2){
    float:left;
    margin-right:5px;
}
div p:nth-of-type(3){
    float:left;
    margin-right:5px;
}

/*AIRPLANE*/

.tile-airplane{
    float:left;
    background:#81FFEB;
    &nbsp;
}
.tile_icon-airplane{
    float:left;
    background: url(../images/airplane.png);
    &nbsp;
}
.tile_content-airplane{
    float:left;
    background:#81FFEB;
    &nbsp;
}

/*END AIRPLANE*/

/*HOTEL*/

.tile-hotel{
    float:left;
    background:#417F76;
    &nbsp;
}
.tile_icon-hotel{
    float:left;
    background: url(../images/home.png);
    &nbsp;
}
.tile_content-hotel{
    float:left;
    background:#417F76;
    &nbsp;
}

/*END HOTEL*/

/*FOOD*/

.tile-food{
    float:left;
    background:#75E5D4;
    &nbsp;
}
.tile_icon-food{
    float:left;
    background: url(../images/food.png);
    &nbsp;
}
.tile_content-food{
    float:left;
    background:#75E5D4;
    &nbsp;
}

/*END FOOD*/

/*POI*/

.tile-poi{
    float:left;
    background:#61BFB1;
    &nbsp;
}
.tile_icon-poi{
    float:left;
    background: url(../images/poi.png);
    &nbsp;
}
.tile_content-poi{
    float:left;
    background:#61BFB1;
    &nbsp;
}

/*END POI*/

@media (min-width:768px;){
    #content {width:100%;}
}